p {
    color:rgb(105, 6, 94);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    line-height: 1.5;
}

h1 {
    color:rgb(105, 6, 94);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}